body {
  background-color: white;
}
header {

}
nav {
  background-color: #888888;
  padding: 10px 0px 10px 50px;
  margin-bottom: 0px;

}

section {
  background-color: #d3d3d3;
  padding-top: 0px;
  margin-top: 0px;
}

footer {
  background-color: #d3d3d3;
}

li {
  margin-left: 50px;
  margin-right: 50px;
}

ol {
  padding-top: 20px;
  margin-top: 0px;
}
